# folders
examples/output/*
dist/*
logs/*
dist/*
build/*
docs/_build/*

# python
**/.venv/*
**/env/
*.env/
**/__pycache__/*
**/mati.egg-info/*
**/MATI.egg-info/*
*.pyc
*.pyo
.python-version
version.py

# coverage
.coverage
.coverage.*
htmlcov/

# others

# exceptions
